<%- include('templates/header') %>

<div class="container mt-5 text-center">
  <h1 class="display-4 text-danger">403 - Forbidden</h1>
  <p class="lead">You are not authorized to access this page.</p>
  <a href="/" class="btn btn-primary mt-3">Return to Home</a>
</div>

<%- include('templates/footer') %>
