<%- include('templates/header', { title: 'Home', user: user }) %>
<h1 class="display-5">Welcome<% if (user) { %>, <%= user.name %><% } %>!</h1>
<% if (!user) { %>
  <p><a class="btn btn-primary" href="/signup">Sign Up</a> or <a class="btn btn-secondary" href="/login">Log In</a></p>
<% } else { %>
  <p><a class="btn btn-primary" href="/members">Go to Members Area</a></p>
<% } %>
<%- include('templates/footer') %>