<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <% if (authenticated) { %>
        <h2>Hello, <%= username %>!</h2><br>
        <a href="/members">Go to members page</a>
    <% } else { %>
        <h2>Welcome to our site!</h2><br>
        <a href="/signup">Sign up</a><br>
        <a href="/login">Log in</a>
    <% } %>
</body>
</html>
