<%- include('templates/header', { title: 'Members', user: user }) %>
<h2>Hello, <%= user.name %>!</h2>
<p>Here are some random images:</p>
<div class="row">
  <% ['1.jpg', '2.jpg', '3.jpg'].forEach(img => { %>
    <div class="col-md-4 mb-3">
      <img src="/images/<%= img %>" class="img-fluid rounded shadow" alt="Random image">
    </div>
  <% }) %>
</div>
<%- include('templates/footer') %>