<header class="navbar navbar-expand-lg navbar-light bg-light px-3">
  <a class="navbar-brand" href="/">My Web App</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <% if (authenticated) { %>
        <li class="nav-item">
          <a class="nav-link" href="/members">Members</a>
        </li>
        <% if (user && user.user_type === 'admin') { %>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>
        <% } %>
      <% } %>
    </ul>

    <ul class="navbar-nav ms-auto">
      <% if (authenticated) { %>
        <li class="nav-item">
          <span class="navbar-text">Hello, <%= user.name %></span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign Up</a>
        </li>
      <% } %>
    </ul>
  </div>
</header>
